.list-container{
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    height: 100%;

}
.list-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}