*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  overflow-x: hidden;
}
button{
  cursor: pointer;
  border: none;
  background: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background-color: #007bff;
  &:disabled{
    background-color: #ccc;
    cursor: default;
  }
}